*{
    padding: 0;
    margin: 0;
    list-style: none !important;
}
body{
    background: #f7f7ef !important;
    min-height: 100vh;
}

/*header*/

#fixedbar{
    padding: 0;
    color: #001d35 !important;
    background:transparent;
}
#fixedbar ul li {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    
    color: #001d35 !important;
    transition: .30s;

}
#fixedbar  ul li:hover{
    border-radius: 10px;    
    background: rgb(2, 23, 70);
}
#fixedbar a{
    color: rgb(2, 23, 70) !important;
}
#fixedbar ul li a:hover{
    color: azure !important;
}
#fixedbar .home{
    background: rgb(2, 23, 70);
    border-radius: 10px;
    color: azure !important;
}
#fixedbar .home a{
    color: azure !important;
}
#fixedbar .home:hover{
    background: azure !important;
}
#fixedbar .home a:hover{
    color: rgb(2, 23, 70)!important;
}

/*banner*/
#banner{
    position: relative;
    margin-top: 11  vh;
    padding: 30vh;
    padding-bottom: 55vh;
    background: linear-gradient(45deg, #001E6C , #035397, #5089C6 ,rgb(247, 227, 116), #f0ffff);
    background-size: 300% 300%;
    animation: color-banner 10s ease infinite;
}
@keyframes color-banner{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
















































footer{
    background: rgb(2, 23, 70);
}


