/* GLOBAL SCOPE*/
*{
    padding: 0;
    margin: 0;
    list-style: none !important;
}
body{
    background: #f7f7ef !important;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime= "left" ]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime= "right" ]{
    transform: translate3d(-90px, 0, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background:  transparent;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    background:  #044a5357;
    width: 3px;
   
}

/*header*/

#fixedbar{
    padding: 0 !important;
    color: #001d35 !important;
    background:#001d356c;
}

#fixedbar ul li {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    
 
    transition: .30s;

}
#fixedbar  ul li:hover{
    border-radius: 10px;    
    background: rgb(2, 23, 70);
}
#fixedbar a{
    color: rgb(202, 203, 207) !important;
    text-shadow: 1px 1px black;
}
#fixedbar ul li a:hover{
    color: azure !important;
}
#fixedbar .home{
    background: #021746;
    border-radius: 10px;
    color: azure !important;
}
#fixedbar .home a{
    color: azure !important;
}
#fixedbar .home:hover{
    background: azure !important;
}
#fixedbar .home a:hover{
    color: rgb(2, 23, 70)!important;
}

/*banner*/
#banner{
    position: relative;
    padding: 20vh;
    padding-bottom: 85vh;
    background: linear-gradient(45deg, #001E6C , #035397, #5089C6 ,rgb(247, 227, 116), #f0ffff);
    background-size: 300% 300%;
    animation: color-banner 10s ease infinite;
}
@keyframes color-banner{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#banner .welcome{
    position: absolute;
    top:200px;
    right: 30px;
    left: 2%;
    
}
#banner .welcome h1{
    margin-top: 12vh;
    font-size: 3em;
    font-weight: 800;
    color: rgb(232, 249, 255);
    text-shadow: 1px 3px black;
}
#banner .welcome span{
    
    font-size:1em;
    font-weight: 800;
    color: rgb(255, 246, 122);
    text-shadow: 1px 1px rgb(71, 43, 1);
    text-transform: uppercase;
}
#banner .banner-svg img{
    position: absolute;
    left: 60%;
    top: 200px;
    justify-content: end;
    text-align: end;
    width: 30%;

    transition: 1s;
}
#banner .banner-svg img:hover{
    width: 31%;
}


#banner .content-about{
    margin-top: 10vh;
    margin-left: 12.5%;
}

#banner .buttons-banner ul{
    margin-top: 10px;
    display: flex;
    letter-spacing: 2px;
   
}
#banner .buttons-banner ul li{
    display: flex;
    margin-left: 3px;
}
#banner .buttons-banner ul li a{
    padding: 20px; 
    background: #07006398;
    border:0;
    border-radius: 10px;

    letter-spacing: 3px;
    font-size: 0.8em;
    font-weight: 700;

    transition: .50s;
}
#banner .buttons-banner ul li a:hover{
    padding: 20px; 
    background: #cacaca63;
    color: rgb(8, 1, 46);
    border:0;
    border-radius: 10px;
    border-radius: 15px;
}

#banner .thub ul{
    margin-top: 20px;
    display: flex;
}
#banner .thub ul li{
    font-size: 30px;
    margin-right: 20px;
    display: flex;
}
#banner .thub ul li i{
    color: rgb(255, 255, 255);
    transition: .30s;
}
#banner .thub ul li i:hover{
    color: rgb(255, 208, 0);
}
  
/*ABOUT ME*/
#description-about-me{
    margin-bottom: 30px;
    padding:8%;
    background: rgb(255, 209, 4);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom:1px solid rgb(255, 209, 4);
    position: relative;
}

#description-about-me .about-me-svg img{
    width: 100%;
    height: 100%;
    background: #f7f7ef;
    border-radius: 10px;

    position:inherit;
    left: 25%;
    align-items: center;
}

#description-about-me .about-me{
    
    margin-top: 100px;
    padding-bottom: px;

    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    align-items: center;
    letter-spacing: 2px;
}
#description-about-me .about-me h2{
    font-size: 1.9em;
    font-weight: 900;
}


#description-about-me .about-me2{
    display: none;  
    margin-top: 100px;
    padding-bottom: px;

    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    align-items: center;
    letter-spacing: 2px;
}
#description-about-me .about-me2 h2{
    font-size: 1.9em;
    font-weight: 900;
}

/*SOFT SKILLS*/

#description-soft-skills{
    margin-bottom:5%;
    padding-top:2%;
    padding-bottom: 8%;
    background: #032670;
    background-clip: padding-box;
    color: #032670;
  
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
#description-soft-skills .row{
    padding:8vh;
    background: #f7f7ef;
    border-radius: 5px;
}

#description-soft-skills h2{
    padding-bottom: 10px;
    text-align: end;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    align-items: center;
}
#description-soft-skills ul{
    padding-bottom: 10px;
    text-align: start;
    line-height: 30px;
    letter-spacing: 1.1px;
    font-weight: 600;
    align-items: center;

    border-left: 3px solid #032670;
    border-radius: 3px;
}

/* IN TI*/
#description-in-ti{
    position: relative;
    
}
#description-in-ti .circle{
    position: absolute;

    height: 100%;
    width: 100%;

    clip-path: circle(80% at right );
    background: #f5f23a;
    background-size: 400%;
    animation: circle 30s ease-in-out infinite ;
}
@keyframes circle{
    0%{
        clip-path: circle(0%);
    }
    25%{
        clip-path: circle(40%) ;
    }
    50%{
        clip-path: circle(80%) ;
    }
    90%{
        clip-path: circle(-80%);
    }
    100%{
        clip-path: circle(-100%);
    }
}
#description-in-ti img{
    height: 85%;
    padding-top: 10px;
}

#description-in-ti .about-in-ti{
    margin-top: 80px;
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
#description-in-ti .about-in-ti h2{
    font-weight: 800;
    font-size: 1.8em;
}


/*HARD-SKILLS*/
#description-hard-skills{
    position: relative;
    margin-top: 90px;
    margin-bottom: 80px;
    
}
#description-hard-skills h2{
    font-size: 1.8em;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 2px solid #035397;
    text-align: center;
}
#description-hard-skills h3{
    font-size: 1.8em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 2px;
    text-align: center;
}

#description-hard-skills .col-6{
    margin-top: 30px;

    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
   
    left: 18% ;

}
#description-hard-skills .col-6 ul{
    padding: 23% !important;
    border-radius: 10px;
    box-shadow: 1px 2px 5px black;
    background: #152d6e;
    color: #f7f7ef;
}


/* Projects */
#container-project{
    background-image: url('../figures/5a1c66190a1663.8506649715118105850413.png');
    background-size: cover;
    background-position:top ;
    margin: 2vh;
    margin-bottom: 8vh;
    padding: 80px;
    animation: boll-project 60s ease-in-out infinite;
    
}
@keyframes boll-project{
    0%{
        background-position:1 1 2;
    }
    50%{
        background-position:  80px, 200px, -440px ;
    }
    100%{
        background-position:  160px, 300px, -480px ;
    }
}
#container-project h2{
    font-weight: 700;
    color: gold;
    text-shadow: 0 1px 2px black;
    text-transform: uppercase;
}
#container-project sub{
    font-weight: 700;
    color: rgb(2, 2, 46);
    text-shadow: 0 1px 5px #f7f7ef;
}
#project{
    
    width: 115%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:10px;
    
    
}
#project .card01{
    position: relative;
    max-width: 300px;
    height: 120px;
    margin: 30px 10px;
    padding:20px 15px;
    display: flex;
    flex-direction: column;
    background: #f7f7ef;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
#project .card01:hover, #project .card01:focus{
    height: 415px;
}
#project .card01 .imgBx{
    position:relative;
    width: 260px;
    height: 290px;
    cursor: pointer;       
    top:-60px;
    left: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
}
#project .card01 .imgBx img{
    width: 100%;
    border-radius: 4px;
 }
#project .card01 .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    color: #111;
}
#project .card01:hover .content,#project .card01:focus .content{
    margin-top: -40px;
    visibility: visible;
    opacity: 1;
    transition: 0.2s ease;
}
#project ul{
    margin-left: 5px;
    padding-right: 22px;
    display: flex;
}
#project ul li{
    margin-right: 5px;
}
#project ul li a{
   text-transform: uppercase;
   font-weight: 700;
   font-size: 0.8em;
}

/* HIRE ME */
#hire-me{
    margin-right: 20px;
}
#hire-me .hire-me-title{
    text-align: center;
    margin-top:8%;
    margin-left:12%;
    
}
#hire-me .hire-me-title h2{
    font-weight: 700;
    font-family: 'Patua One', cursive;
    letter-spacing: 5px;

    text-align: end;
    color: #03195f;
    border-bottom: 7px solid #f7f7ef;
    border-right: 7px solid #f7f7ef;
    animation: bottom-border 10s ease-in infinite;

    transition: 2s;
}
@keyframes bottom-border{
    0%{
        border-color:#001d35;
    }
    25%{
        border-color:#21537c;
    }
    50%{
        border-color:#eff8ff;
    }
    50%{
        border-color:#5283ac;
    }
    100%{
        border-color:#00223b;
    }
}

#hire-me .card{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    
    margin-right: 10%;
    margin-left: 8px;
    padding:35.5px;
    border:0;
    border-radius: 0;

    transition: 1s;
}
#hire-me .card:hover{
   margin-right: 20% !important;
}

#hire-me .email{
    background:#152d6e !important;
    color:#f7f7ef;
}
#hire-me .cv{
    background:#4460ac !important;
    color:#f7f7ef;
}
#hire-me .social{
    background:#2624a3 !important;
    color:#f7f7ef;
}
#hire-me .social ul{
    display: flex;
    font-size: 2em;
    text-align: center;
    color:#f7f7ef;
    padding-left: 29% ;
}
#hire-me .social ul li{
    text-align: center;
    
   
    color:#f7f7ef;
}
#hire-me .social ul li a{

    text-align: center;
   
    
    color:#f7f7ef;
}
#hire-me .social ul li a i{
    margin-left: 10px;
    color:#f7f7ef;
    transition: 1s;
}
#hire-me .social ul li a i:hover{
    margin-left: 10px;
    color:#fff066;
}

/*Responsive*/

@media (max-width: 1000px){
    #banner {
        right: 0 auto;
        left: 0 auto;
    }
    #banner .content-about{
        margin-top: 10vh;
        margin-left:0;
    }
    #banner img{
        padding-top: 60px;
        padding-left: 60px;
    }

    #description-about-me .about-me,#description-about-me .about-me-svg{
        display: none;
    }

    #description-about-me .about-me2{
        display: block;
    }
    #description-about-me .about-me2 img{
       width: 100%;
    }  
    
    
    #description-in-ti img{
        display: none;
    }

    #description-hard-skills .col-6{
        left: 0;
    }
    #description-hard-skills h3{
        font-size:1.1em
    }


    #container-project{
        margin: 0 ;
    }
    #project .card01{
        margin-top: 30px ;
        margin-right: 0 !important;
        padding:20px 15px;
    }
    #project{
        width: 115%;
        padding:0 ;
        
    }
    
    #hire-me{
        margin: 0 auto;
    }
    #hire-me .card{
        margin: 0 ;
        transition: 1.2s;
    }
}
 

















footer{
    margin-top: 5vh;
    background: rgb(2, 23, 70);
}


