*{
    padding: 0;
    margin: 0;
    list-style: none !important;
}
body{
    background: #f7f7ef !important;
}

/*header*/

#fixedbar{
    padding: 0;
    background: #2193b0;  
}
#fixedbar ul li{
    padding: 10px;
    
    text-align: center;
    font-weight: 700;

    transition: .30s;
}
#fixedbar  ul li:hover{

    border-radius: 10px;
    color: #011627 !important;
    background: rgba(255, 251, 215, 0.5)/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*banner*/
#banner{
   
    margin-top: 100px;
}
#banner path{
    fill: transparent;
    stroke: 20;
    stroke:#2193b0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    transition: 2s;
    animation: anime-banner 3s forwards;
}
@keyframes anime-banner
{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1560;
    }
    80%{
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3120;
        fill: #2193b0;
    }
}

#banner .container{
    position: absolute;
    bottom: 450px ;
    text-align: center;
    justify-content: center;
}














































footer{
    background: #2193b0;
}


